/* Profile.module.css */
.profile {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;

}

.profCon {
    height: 85%;
    width: 85%;
    background-color: crimson;
    display: flex;
}

.profImg {
    background-color: antiquewhite;
    width: 30%;
    height: 35%;
}

.profDet {
    background-color: brown;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.profDet p {
    background-color: blue;
}