/* SideMenu.module.css */
.sideMenu {
    width: 17%;
    box-sizing: border-box;
    background-color: rgb(208, 72, 23);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    padding-top: 1.5rem;
}

.menuBtn {
    height: 2.5rem;
    background-color: rgb(154, 41, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    gap: .5rem;
    font-size: 1.5rem;
}

.menuProject {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuBtn button {
    height: 80%;
    background-color: rgb(154, 41, 0);
    border: none;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: 10%;
}

.menuCate ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 5px;
}

.menuCate ul li {
    font-size: 1.3rem;
    text-align: center;
    width: 9rem;
    background-color: rgb(154, 41, 0);
}

.menuLink {
    text-decoration: none;
    color: rgb(132, 132, 132);
}

.menuLink2 {
    color: black;
    text-decoration: none;
}

.menuLink:hover,
.menuLink:active {
    color: rgb(132, 132, 132);
    text-decoration: none;
}
