.task {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.taskErrorCon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    flex-direction: column;
    gap: .5rem;
}

.taskErrorCon a {
    text-decoration: none;
    background-color: #FFB74D;
    color: #a60000;
    display: flex;
    width: 12rem;
    justify-content: center;
    border-radius: 2rem;
}

.taskErrorCon a:hover {
    color: #FFFFFF;
}

.taskHeader {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #9B3100;
    color: #FEFBD8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.selectCate {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.selectCate label {
    font-weight: bold;
}

.selectCate select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #FFA500;
    background-color: #FFEB3B;
}

.taksNav {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.taskLink {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #FFB74D;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0.5rem; /* Added border-radius for consistency */
    display: flex; /* Optional: if you want to align items inside */
    align-items: center; /* Optional: vertically center */
}

.taskLink:hover {
    background-color: #FEFBD8;
    color: #9B3100;
}

.active {
    background-color: #FEFBD8; /* Keep the same style for active link */
    color: #9B3100;
    box-shadow: 0 0 10px rgba(255, 235, 59, 0.5); /* Add shadow effect */
}

.addTask {
    height: 15%;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.addTask input {
    flex-grow: 1;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #FFA500;
    height: 90%;
    background-color: #ffe89d;
}

.iconButton {
    background-color: #FFA500;
    border: none;
    border-radius: 0.5rem;
    width: 3.8%; /* Adjust width as needed */
    height: 85%; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 2rem; /* Increase font size for larger icon */
}

.iconButton:hover {
    background-color: #FFB74D;
}

.allTaskCon {
    background-color: blue;
    height: 77%;
    width: 100%;
}

.allTaskCon ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    box-sizing: border-box;
}

.theTask {
    display: flex;
    width: 100%;
    background-color: #FEFBD8;
}

.taskCheckBox {
    background-color: yellow;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theTask input {
    height: 80%;
}

.theTask p {
    width: 80%;
    background-color: red;
}

.taskBtns {
    background-color: brown;
}